.collapseSlidebar {
    max-width: 80px !important;
}

.main-sidebar {
    position: sticky !important;
    transition: 200ms !important;
    -webkit-transition: 200ms !important;
    -moz-transition: 200ms !important;
    -ms-transition: 200ms !important;
    -o-transition: 200ms !important;
}