.bill-modal {
    min-width: 800px !important;
}

.modal-title {
    width: 100%;
}

.w-25 {
    width: 25% !important;
}

.modal-body {
    overflow-y: auto;
}

.card-body {
    overflow-y: auto;
    max-height: 500px;
    padding: 10px !important;
    /* box-shadow: inset -10px 0px 11px 0px; */
}

.addcustom_form {
    height: fit-content !important;
}

.addon-name {
    padding-right: 2rem !important;
}

.addon {
    color: #888 !important;
}